:root {
    --white: #fff;
    --primary: #15658a;
    --primary-1: rgba(21, 101, 138, 0.25);

    --error: rgb(226, 40, 40);

    --red: rgb(180, 19, 19);
    --yellow: rgb(138, 138, 14);

    --shadow: rgba(0,0,0,0.5);

    --few: rgba(230, 255, 7, 0.35);
    --tiny: rgba(248, 14, 14, 0.35);
}